<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>Buy My Automobile - Home Page</title>
</head>
<body>
		
	<div layout:fragment="content">
		
		<h2>About Buy My Automobile</h2>
		<div class="row">
			<div class="col-md-12">
 				<p>Welcome to Buy My Automobile. South Africa's leading car dealership for used cars</p>
				<p>Buy My Automobile is where car enthusiasts meet sellers for cars that they are looking for and we know that you've been looking for your dream car.</p>
				<p> You have come to the right place look no further than Buy My Auto Mobile!</p>
			</div>
		</div>
		
</body>
</html>